<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Baby's First Website</title>
        <style>
            .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            
            .topnav a.active {
              background-color: #04AA6D;
              color: white;
            }
            
            body {
              background-color: hsl(0, 0%, 0%);
              background-image: url("/static/webbkgnd_2.jpg");
            }
        </style>
    </head>
    <body>
        <div style="text-shadow: #FC0 1px 0 10px;" class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>

        <h1 style="color:rgb(241, 241, 247); text-shadow: #000 2px 0 1px;">The First Step Towards More</h1>
        <p style="color:aqua; text-shadow: #000 2px 0 1px;">Eventually this will look like an actual website...</p>
        <br>
        <br>
        <br>
        <p style="color:#fff; text-shadow: #000 0 0 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis commodo odio aenean sed adipiscing diam donec. Ante metus dictum at tempor commodo. Vitae ultricies leo integer malesuada nunc. Mi proin sed libero enim sed faucibus. Pellentesque massa placerat duis ultricies lacus. Interdum varius sit amet mattis. Nunc aliquet bibendum enim facilisis. Urna duis convallis convallis tellus id interdum velit. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Ac odio tempor orci dapibus ultrices.</p>

        <p style="color:#fff; text-shadow: #000 0 0 10px;">Mus mauris vitae ultricies leo integer malesuada nunc. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Morbi tincidunt augue interdum velit. Mauris in aliquam sem fringilla ut morbi tincidunt. Viverra vitae congue eu consequat ac felis donec. Non enim praesent elementum facilisis leo vel fringilla. Risus ultricies tristique nulla aliquet. Sit amet facilisis magna etiam tempor orci. Facilisis magna etiam tempor orci eu lobortis elementum. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Cursus sit amet dictum sit amet justo donec. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in.</p>
            
        <p style="color:#fff; text-shadow: #000 0 0 10px;">Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Ultrices eros in cursus turpis massa tincidunt dui. Velit euismod in pellentesque massa placerat duis ultricies lacus. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Et malesuada fames ac turpis egestas maecenas pharetra. Ut eu sem integer vitae justo eget magna fermentum iaculis. Amet commodo nulla facilisi nullam. Vulputate enim nulla aliquet porttitor lacus luctus. Viverra tellus in hac habitasse. Sed nisi lacus sed viverra tellus in hac. Quis commodo odio aenean sed. Libero id faucibus nisl tincidunt eget nullam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Ipsum suspendisse ultrices gravida dictum. Ullamcorper eget nulla facilisi etiam. Pretium nibh ipsum consequat nisl vel pretium. Ipsum dolor sit amet consectetur adipiscing elit. Accumsan lacus vel facilisis volutpat.</p>
            
        <p style="color:#fff; text-shadow: #000 0 0 10px;">Elit duis tristique sollicitudin nibh sit amet. Aliquam faucibus purus in massa tempor nec feugiat nisl pretium. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Feugiat pretium nibh ipsum consequat. Enim blandit volutpat maecenas volutpat blandit aliquam. Ut enim blandit volutpat maecenas. Risus nullam eget felis eget nunc lobortis mattis aliquam. Arcu risus quis varius quam quisque id diam vel. Leo vel orci porta non pulvinar neque. Proin nibh nisl condimentum id venenatis a condimentum vitae. Sed augue lacus viverra vitae congue eu. Hendrerit dolor magna eget est lorem.</p>
            
        <p style="color:#fff; text-shadow: #000 0 0 10px;">Mi quis hendrerit dolor magna. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Pharetra sit amet aliquam id diam maecenas ultricies mi. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Vitae turpis massa sed elementum. Egestas diam in arcu cursus euismod quis viverra nibh. Commodo elit at imperdiet dui accumsan sit amet. Tortor at auctor urna nunc id cursus. Aenean euismod elementum nisi quis. Non nisi est sit amet facilisis magna etiam tempor orci. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Viverra suspendisse potenti nullam ac tortor vitae purus. Lectus magna fringilla urna porttitor.</p>
    </body>
</html>